<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['users']">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['posts']">Posts</a>
  </li>
</ul>
<router-outlet></router-outlet>